<h3 class="uk-h3">Whoooaaahh! Unfortunately, {{ serverName }} is expected to launch in: </h3>
<div class="uk-card-body uk-align-center" uk-responsive>
  <div class="uk-grid uk-child-width-expand@s uk-child-width-1-4\@m uk-text-center uk-responsive-width "
       uk-countdown="date: 2018-02-24T00:00:00-08:00">
    <div>
      <div class="uk-countdown-number uk-countdown-days"></div>
      <div class="uk-countdown-label uk-text-center uk-margin-small-top">Days</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
      <div class="uk-countdown-number uk-countdown-hours"></div>
      <div class="uk-countdown-label uk-text-center uk-margin-small-top ">Hours</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
      <div class="uk-countdown-number uk-countdown-minutes"></div>
      <div class="uk-countdown-label uk-text-center uk-margin-small-top ">Minutes</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
      <div class="uk-countdown-number uk-countdown-seconds"></div>
      <div class="uk-countdown-label uk-text-center uk-margin-small-top ">Seconds</div>
    </div>
  </div>
</div>
