@media only screen and (min-width: 1024px) {
  h1 { font-size: 4em !important; }
  h2 { font-size: 3.5em !important; }
  h3 { font-size: 3em !important; }
}
/*@media only screen and (max-width: 1023px) {*/
/*}*/
/*@media only screen and (max-width: 640px) {*/
  /*!* Add your custom styles here for Mobile *!*/
/*}*/
@media only screen and (max-width: 480px) {
  h1 { font-size: 1.8em !important; }
  h2 { font-size: 1.3em !important; }
  h3 { font-size: .8em !important; }
}
