<div
  class="uk-grid uk-flex uk-flex-column uk-width-1-1 uk-width-3-4@s uk-width-2-3@m uk-width-4-5@l uk-width-1-2@xl uk-margin-top uk-align-center">
  <div>
    <div class="uk-card uk-card-default">

    </div>
    <div class="uk-card uk-card-default">

      <div class="uk-card-media-top">
        <h1 class="uk-heading-divider uk-margin-small-left uk-margin-small-top">Welcome To {{ serverName }}!!!</h1>
        <!--<h1 class="uk-h1" style="padding-top: 0.5em; padding-left: 0.5em;">Welcome To {{ serverName }}!!!</h1>-->
        <img class="uk-align-center uk-responsive-height uk-responsive-width"
             src="https://c2.staticflickr.com/8/7305/12844824643_d337810b76_b_d.jpg" alt="">
      </div>
      <hr>
      <div class="uk-card-body">
        <div id="countdownClock" [hidden]="bonanzaEventActive">
          <app-countdown [serverName]="serverName"></app-countdown>
        </div>
        <div id="launchInformation" [hidden]="!bonanzaEventActive">
          <p>Hello! Welcome to the first ever Minecraft Bonanza!!! Hosted by Gamer Drop Zone! Connection info is
            below: </p>
          <div>Server Address: <a
            (click)="serverAddressCopiedtoClipboard()"
            ngxClipboard
            [cbContent]="serverAddress">
            {{ serverAddress }}</a>
          </div>
          <div>Discord Server: <a [href]="discordUrl">{{ discordUrl }}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>


