/*@media only screen and (min-width: 1024px) {*/
  /*!* Add your custom styles here for Desktop *!*/
/*}*/
/*@media only screen and (max-width: 1023px) {*/
  /*!* Add your custom styles here for Tablet *!*/
/*}*/
/*@media only screen and (max-width: 640px) {*/
  /*!* Add your custom styles here for Mobile *!*/
/*}*/
@media only screen and (max-width: 480px) {
  h1 { font-size: 1.8em !important; }
  h2 { font-size: 1.3em !important; }
  h3 { font-size: .8em !important; }
  .uk-countdown-number { font-size: 1em !important; }
}
